@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Space+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Space Mono", monospace;
  font-size: 62.5%;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
