.navbar {
  background-color: #1a2029;
  color: #fff;
  height: 70px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.container--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navlist {
  display: flex;
  list-style: none;
  padding: 10px;
  margin: 0 5px;
}

.navbar-logo {
  font-size: clamp(2rem, calc(2rem + ((1vw - 0.48rem) * 0.6944)), 2.5rem);
}

.nav-item {
  font-size: clamp(1.4rem, calc(1.4rem + ((1vw - 0.48rem) * 0.5556)), 1.8rem);
  margin: 0.7rem;

  /* Animation */
  transition: all 0.2s ease;
}

.nav-item:hover {
  transform: scale(1.05);
}

.nav-link {
}

@media screen and (max-width: 768px) {
  .navlist {
    display: none;
  }
}
